.contact-container {
  justify-content: space-evenly;
  align-items: flex-start;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contact-form > label {
    margin: 8px 0;
}

.contact-form > input, textarea {
    padding: 12px 16px;
    margin: 4px 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.contact-form > textarea {
    resize: none;
    height: 260px;
}

.contact-form > button {
    margin-top: 16px;
}

@media screen and (max-width: 980px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
  }
}