/* General CSS */

* {
    margin: 0%;
    box-sizing: border-box;
    font-family: Gotham, Arial, sans-serif;
}

a, p {
  line-height: 24px;
}

h1, h2, h3 {
  line-height: 42px;
  margin-bottom: 10px;
}

.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

section {
    height: 100vh;
}

.auto {
  height: auto;
}

.landing-section {
  padding-top: 12vh;
}

.padding {
  padding-left: 15%;
  padding-right: 15%;
}

.paddingv {
  padding-top: 10%;
  padding-bottom: 10%;
}

.button-light {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  background: white;
}

.button-dark {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  background: #161828;
}

.responsive-dir {
  flex-direction: row;
}

.desktop {
  display: initial;
}

.mobile {
  display: none !important;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 980px) {
  .responsive-dir {
    flex-direction: column;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: initial !important;
  }
}

/* Header */

header {
    height: 12vh;
    position: fixed;
    width: 100%;
    z-index: 20;

}

nav {
    display: flex;
    height: 12vh;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px #888888;
}

nav .logo {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.header-logo {
    width: 40px;
}

.logo > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.flex-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 0px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: Helvetica Neue, sans-serif;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111111;
    background: rgba(41, 41, 41, 0.2);
}

.menu-btn {
    display: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
}

nav .menu-btn i {
    color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

  @media (max-width: 1000px) {
    nav {
      flex-wrap: nowrap;
    }
    nav {
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    .menu-btn {
        display: block;
    }

    nav .menu-btn i {
      display: block;
    }

    #click:checked ~ .menu-btn i:before {
      content: "\f00d";
    }

    nav ul {
      position: fixed;
      top: 12vh;
      left: -100%;
      background: #161828;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s cubic-bezier(1, 0, 0, 1);
      padding: 15%;
    }

    #click:checked ~ ul {
      left: 0;
    }

    nav ul li {
      width: 100%;
      margin: 25px 0;
    }

    nav ul li a {
      color: rgb(255, 255, 255);
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(1, 0, 0, 1);
    }

    #click:checked ~ ul li a {
      margin: 0;
    }

    nav ul li a.active,
    nav ul li a:hover {
      background: none;
      color: #ffffff;
    }

    .contact-button {
    background: none;
    }

    @media screen and (max-width: 500px) {
      nav {
        padding: 15px;
      }
      
    }
  }

/* Header End */

/* Footer Start */

footer {
  min-height: 30vh;
  background-color: #ffffff;
  width: auto;
}

.footer-logo {
  height: 100px;
}

.footer {
  width: 100%;
  justify-content: space-evenly;
}

.footer-container {
  margin: 0 40px;
}

.footer-list-item {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
}

.footer-sm-container {
  height: 30px;
  margin: 0 10px;
}

.footer-sm {
  filter: invert();
  height: 30px;
}

.footer-cr {
  font-size: 16px;
  margin: 15px 0 30px 0;
  text-align: center;
}

.footer-cr-link {
  color: #1f1f1f;
  text-decoration: underline;
}

@media screen and (max-width: 980px) {
  footer {
    min-height: 55vh;
  }
  .footer-logo {
    height: 80px;
  }
  .footer-container {
    margin: 5px 0;
  }
  .footer-container > a {
    text-align: center;
  }
  .footer {
    flex-direction: column;
    min-height: 45vh;
  }
  .footer-list-item {
    margin: 5px 0;
  }
  .footer-sm {
    height: 25px;
  }
  .footer-sm-container{
    height: 25px;
  }
  .footer-cr {
    margin-top: 4vh;
    font-size: 11px;
  }
}

/* Footer End */

/* Landing Page */

.landing-image-container {
  background-image: url('../Images/Work/IMG_4222.JPG');
  margin-right: 80px;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  background-position: center;
}
.landing-image-container-mobile {
  background-image: url('../Images/Mobile Landing Page Design.png');
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  background-position: center;
  margin: 3%;;
}

.landing-image {
  position: fixed;
  top: -20%;
  left: -20%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transform-style: preserve-3d;
  transform: translateZ(40px)
}

.landing-image-2 {
  position: fixed;
  bottom: -10%;
  right: -20%;
  height: 150px;
  object-fit: cover;
  transform-style: preserve-3d;
  transform: translateZ(20px)
}

.landing-text {
  color: white;
  height: auto;
  width: auto;
}

.landing-header {
  font-size: 32px;
  font-weight: bold;
}

.landing-paragraph {
  margin-top: 10px;
  margin-bottom: 25px;
}

@media screen and (max-width: 980px) {
  .landing-section {
    padding-bottom: 30px;
  }
  .landing-image-container {
    margin-right: 0;
    margin-bottom: 5vh;
  }
}

/* Services Section */

.services-container {
  margin: 15px 0 0 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.services-heading {
  margin: 25px 0;
}

.service-card {
  width: 250px;
  height: 250px;
  margin: 0 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #161828;
  text-align: center;
  opacity: 0;
}

.services-button {
  margin: 25px 0 0 0;
}

@media screen and (max-width: 980px) {
  .services-container {
    justify-content: center;
  }
  .service-card {
    margin: 0 0 10px 0;
  }
  
}

/* Testimonials */

.testimonials-section {
  background-color: #161828;
  height: 50vh;
}

.testimonials-container {
  margin: 15px 0 0 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.testimonials-heading {
  margin: 40px 0;
  color: white;
}

.testimonials-client {
  margin-top: 10px;
}

.testimonials-img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.testimonials-card {
  margin: 0 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #161828;
  text-align: center;
  opacity: 0;
}

@media screen and (max-width: 980px) {
  .testimonials-container {
    justify-content: center;
  }
  .testimonials-card {
    margin: 0 0 10px 0;
  } 
}

@media screen and (max-width: 500px) {
  .testimonials-heading {
    margin: 6vh 0 1vh;
  }
  .testimonials-container {
    margin: 0;
  }
}

/* CTA */

.cta-heading {
  margin: 10px 0;
}

.cta-button {
  margin: 20px 0 0 0;
}

/* Shop */

.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.product-card {
  display: flex;
  border: solid 1px #dedede;
  flex-direction: column;
  width: 50%;
}

.product-link {
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.product-page-card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product-page-image {
  width: 50%;
}

.product-image {
  width: 100%;
  opacity: 1;
}

.product-image:hover {
  opacity: .7;
}

.product-info {
  margin: 8%;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
}

.product-desc {
  font-size: 16px;
}

.product-price {
  color: #ff0000 !important;
  font-size: 16px;
}

.cart-button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .product-card {
    width: 100%
  }

  .product-page-card {
    flex-direction: column
  }
}

/* Shop Carousel */

.carousel-container {
  width: 40%;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 5px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 980px) {

  .carousel-container {
    width: 100%
  }

  .carousel__thumbnails li {
    max-width: calc((100% / 6) - 5px);
  }
}

/* About */

.heading {
  margin: 6%;
}

.about {
  align-items: center;
  width: 50%;
}

.owner-card {
  align-items: center;
  width: 50%;
  margin: 1%;
}

.about-image {
  width: 250px;
}

.about-text {
  color: black;
  margin: 0 50px;
}

.about-text > p {
  margin: 10px 0;
}

.owners-section {
  height: auto;
}

.owner-image {
  width: 200px;
  border-radius: 50%;
}

.about-heading {
  font-weight: bold;
  margin: 25px 0;
  color: black;
  font-size: 24px;
}

@media screen and (max-width: 980px) {
  .heading {
    margin: 10% 0;
  }
  .about {
    width: auto;
  }
  .about-image {
    width: 150px;
  }
  .about-text {
    margin: 20px 0;
  }
  .owner-card {
    width: auto;
  }
}

@media screen and (max-width:1024px) {
  .about {
    width: auto;
  }
  
  .owner-card {
    width: auto;
  }
}
/* Contact */

.contact-text {
  color: white;
  height: auto;
  width: 70%;
}

.contact {
  align-items: flex-start;
  width: 60%;
}

form {
  width: 100%;
  color: white;
  appearance: none;
  -webkit-appearance: none;
}

form > input, textarea, button {
  padding: 3%;
}

form > :first-child {
  margin-top: 0;
}

form > label {
  margin: 3%;
}

form > button {
  margin: 30px 0 0 0;
}

textarea {
  resize: none; 
}

@media screen and (max-width: 980px) {
  .contact {
    width: 100%;
  }
}

/* Work */

.projects-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  margin: 0 0 50px 0;
}

.project-link {
  width: 23%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 1%;
}

.project-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: .5s ease;
}

.project-card:hover {
  filter: grayscale(0%);
}

.social-media {
  background-image: linear-gradient(#52525217, #000000), url('../Images/Work/886ebd118875639.6092104d48d6d.png');
}

.esports-design {
  background-image: linear-gradient(#52525217, #000000), url('../Images/Work/GAMEDAY-ROKR.jpg');
}

.motion-design {
  background-image: linear-gradient(#52525217, #000000), url('../Images/Work/ViL Announcement Soon.gif');
}

.logo-design {
  background-image: linear-gradient(#52525217, #000000), url('../Images/Work/Elephant.png');
}

.stream-design {
  background-image: linear-gradient(#52525217, #000000), url('../Images/Work/YoYo3.png');
}

.threed-design {
  background-image: linear-gradient(#52525217, #000000), url('../Images/Work/Eden-Scene.jpg');
}

.project-text {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.designs-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  margin: 0 0 50px 0;
  color: #fff;
}

.design-card {
  color: #fff;
  text-decoration: none;
  width: 100%;
  margin: 1%;
}

.design-card > img {
  width: 100%;
  margin-bottom: 10px;
}

.design-card > p > b {
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  .project-link {
    width: 48%;
  }
  
}

/* Lightbox */

.row2 > .column2 {
  padding: 0 8px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  margin: 20px 0;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* ScrollOut Classes */

[data-scroll] {
  transition: opacity .6s;
}

[data-scroll="in"] {
  opacity: 1;
}

[data-scroll="out"] {
  opacity: 0;
}