:root {
  --primary: #fff;
  --secondary: #eee;
  --background: #000;
  --foreground: #202020;
  --padding: 0 5%;
}

.App, #root {
  display: block;
  background-color: var(--background);
  color: #ffffff;
}

.inverted-colors {
  --primary: #000;
  --secondary: #202020;
  --background: #fff;
  --foreground: #eee;
}

.material-icons {
  font-size: 24px;
  color: var(--primary);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 15vh 0;
}

.button {
  padding: 12px 14px;
  width: auto;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 12px 0;
  text-decoration: none;
}

.button-dark {
  padding: 12px 14px;
  width: auto;
  background-color: var(--background);
  color: var(--primary);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 12px 0;
  text-decoration: none;
}

.button:hover, .button-dark:hover {
  text-decoration: underline;
}